<div id="question">
    <mat-card class="details">
        <ng-container *ngIf="this.questionID > 0 && this.questionID <= this.questions.length">
            <mat-card-header>
                <mat-card-subtitle
                    >Round #{{ questions[this.questionID - 1].round }} |
                    {{ questions[this.questionID - 1].type
                    }}<span *ngIf="questions[this.questionID - 1].group"
                        >-{{ questions[this.questionID - 1].group }}</span
                    >
                    | Question n°{{ questions[this.questionID - 1].id }} |
                    {{ questions[this.questionID - 1].points }} Pts | Answered:
                    {{ getNumberAnswers() }}/{{ teams.length | number : "1.0" }}
                    <ng-container *ngIf="questions[this.questionID - 1].type === 'Tips'"
                        >| Mean bet points: {{ getMeanPoints() | number : "1.0-1" }}</ng-container
                    >
                    <mat-progress-bar
                        color="primary"
                        mode="determinate"
                        [value]="(100 * questionID) / (questions.length + 1)">
                    </mat-progress-bar>
                </mat-card-subtitle>
                <mat-card-title>
                    <!-- Sel ou poivre categories -->
                    <p
                        class="comment"
                        *ngIf="questions[this.questionID - 1].type === 'SelOuPoivre'">
                        <ng-container
                            *ngFor="
                                let proposition of questions[this.questionID - 1]
                                    .propositionsDetailed;
                                index as i
                            "
                            ><ng-container *ngIf="i > 0">, </ng-container
                            ><ng-container
                                *ngIf="
                                    i + 1 ===
                                    questions[this.questionID - 1].propositionsDetailed?.length
                                "
                                >ou </ng-container
                            >{{ proposition }} ({{
                                getPercentAnswer(
                                    questions[this.questionID - 1]?.propositionsShort[i]
                                ) | number : "1.0-1"
                            }}%)</ng-container
                        >
                    </p>
                    <!-- Question -->
                    <p>{{ questions[this.questionID - 1].question }}</p>
                    <p class="comment" *ngIf="questions[this.questionID - 1].questionComment">
                        {{ questions[this.questionID - 1].questionComment }}
                    </p>
                </mat-card-title>
            </mat-card-header>

            <!-- Propositions -->
            <mat-card-content
                *ngIf="questions[this.questionID - 1].type === 'Nugget'"
                style="white-space: pre-wrap">
                <p
                    class="comment"
                    *ngFor="
                        let proposition of questions[this.questionID - 1].propositionsDetailed;
                        index as i
                    ">
                    {{
                        getPercentAnswer(questions[this.questionID - 1]?.propositionsShort[i])
                            | number : "1.0-1"
                    }}% {{ questions[this.questionID - 1]?.propositionsShort[i] }}.
                    {{ proposition }}
                </p>
            </mat-card-content>

            <mat-card-content style="white-space: pre-wrap">
                <mat-divider></mat-divider>
                <p>{{ questions[this.questionID - 1].answer }}</p>
                <p class="comment" *ngIf="questions[this.questionID - 1].answerComment">
                    {{ questions[this.questionID - 1].answerComment }}
                </p>

                <div
                    *ngIf="this.questions[this.questionID - 1].speed"
                    style="display: flex; flex-direction: row">
                    <div id="speed" style="flex-grow: 1">
                        <mat-divider></mat-divider>
                        <p>Rapidité:</p>
                        <div class="speedResults">
                            <p
                                class="comment"
                                *ngFor="let result of getTimeString(); index as i"
                                [ngClass]="
                                    result.correct > 0
                                        ? 'green'
                                        : result.correct === 0
                                        ? 'red'
                                        : 'yellow'
                                "
                                [matBadge]="result.bonus"
                                [matBadgeHidden]="result.bonus === 0"
                                matBadgeOverlap="false"
                                matBadgePosition="after">
                                <mat-icon *ngIf="result.correct === 0">close</mat-icon>
                                <mat-icon *ngIf="result.correct < 0">question_mark</mat-icon>
                                <mat-icon *ngIf="result.correct > 0">check</mat-icon>
                                <span>{{ i + 1 }}. {{ result.result }}</span>
                            </p>
                        </div>
                    </div>

                    <div id="bonus" style="flex-grow: 1">
                        <mat-divider></mat-divider>
                        <p>Rattrapages:</p>
                        <div class="speedResults">
                            <p
                                class="comment red"
                                *ngFor="let result of getBonusWrongAnswersString(); index as i">
                                {{ result.team }} ({{ result.points }})
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </ng-container>
    </mat-card>

    <mat-card class="controller">
        <!-- Slides management -->
        <div id="question-management">
            <p>Questions</p>
            <mat-divider></mat-divider>

            <button
                mat-icon-button
                aria-label="Previous question"
                (click)="onPrevious(this.questionID - 1)"
                *ngIf="this.questions.length !== 0 && this.questionID > 0">
                <mat-icon>fast_rewind</mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Unlock/Lock question"
                (click)="onCorrection()"
                *ngIf="
                    this.questions.length !== 0 &&
                    this.questionID > 0 &&
                    this.questionID <= this.questions.length
                ">
                <mat-icon *ngIf="this.questions[this.questionID - 1].locked"> lock </mat-icon>
                <mat-icon *ngIf="!this.questions[this.questionID - 1].locked"> lock_open </mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Validate answers"
                (click)="onValidate()"
                *ngIf="
                    this.questions.length !== 0 &&
                    this.questionID > 0 &&
                    this.questionID <= this.questions.length &&
                    this.questions[this.questionID - 1].locked
                ">
                <mat-icon>published_with_changes</mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Reset answers scores"
                (click)="onResetScores()"
                *ngIf="
                    this.questions.length !== 0 &&
                    this.questionID > 0 &&
                    this.questionID <= this.questions.length
                ">
                <mat-icon>restart_alt</mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Next question"
                (click)="onNext(this.questionID + 1)"
                *ngIf="this.questions.length !== 0 && this.questionID <= this.questions.length - 1">
                <mat-icon>fast_forward</mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Start quiz"
                (click)="onStartQuiz()"
                *ngIf="this.questions.length === 0">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </div>

        <div id="timer-management" *ngIf="this.questions.length > 0 && this.questionID > 0">
            <p>Timer</p>
            <mat-divider></mat-divider>

            <span
                style="font-size: 1.4rem"
                [style.color]="timer <= 5 ? 'red' : timer <= 15 ? 'yellow' : ''">
                {{ timer }} sec </span
            ><br />

            <button
                mat-icon-button
                aria-label="Start timer"
                (click)="onStartTimer()"
                *ngIf="!this.timerActive">
                <mat-icon>timer</mat-icon>
            </button>

            <button
                mat-icon-button
                aria-label="Pause timer"
                (click)="onPauseTimer()"
                *ngIf="this.timerActive">
                <mat-icon>timer_off</mat-icon>
            </button>

            <button mat-icon-button aria-label="Reset timer" (click)="onResetTimer()">
                <mat-icon>restart_alt</mat-icon>
            </button>

            <button mat-icon-button aria-label="Extend timer" (click)="onExtendTimer()">
                <mat-icon>timer_10_alt_1</mat-icon>
            </button>
        </div>

        <div id="tips-management" *ngIf="this.questions[this.questionID - 1]?.type === 'Tips'">
            <p>Tips</p>
            <mat-divider></mat-divider>
            <span class="comment" *ngIf="this.questions.length > 0 && this.questionID > 0">
                <button
                    mat-icon-button
                    aria-label="Lock bets"
                    (click)="onLockBets()"
                    *ngIf="this.betActive">
                    <mat-icon>vpn_key</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="Lock bets"
                    (click)="onLockBets()"
                    *ngIf="!this.betActive">
                    <mat-icon>lock_reset</mat-icon>
                </button>
            </span>
        </div>

        <!-- <mat-divider *ngIf="this.questions.length > 0 && this.questionID > 0"></mat-divider>

    <div id="slide-management">
      !Steps management
      <ng-container *ngIf="this.questions.length !== 0 && this.questionID > 0 && this.questionID <= this.questions.length">
            <br>
            <button mat-icon-button aria-label="Show Question" (click)="onShowQuestion()">
                <mat-icon *ngIf="questions[this.questionID-1].showQuestion">hide_source</mat-icon>
                <mat-icon *ngIf="!questions[this.questionID-1].showQuestion">question_mark</mat-icon>
            </button>
            <ng-container *ngIf="questions[this.questionID-1].propositionsDetailed">
                <button mat-icon-button aria-label="Previous step" (click)="onPreviousStep(questions[this.questionID-1].propositionsStep - 1)">
                    <mat-icon>arrow_left</mat-icon>
                </button>
                <span class="step">{{questions[this.questionID-1].propositionsStep}}</span>
                <button mat-icon-button aria-label="Previous step" (click)="onNextStep(questions[this.questionID-1].propositionsStep + 1)">
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="questions[this.questionID-1].locked">
                <button mat-icon-button aria-label="Hide answer" (click)="onShowAnswer()">
                    <mat-icon *ngIf="questions[this.questionID-1].showAnswer">hide_source</mat-icon>
                    <mat-icon *ngIf="!questions[this.questionID-1].showAnswer">done_all</mat-icon>
                </button>
            </ng-container>
        </ng-container>
    </div> -->
    </mat-card>
</div>

<div id="answers">
    <ng-container *ngFor="let answer of this.answers; let i = index">
        <mat-card
            class="answer-card"
            *ngIf="answer.questionID === this.questionID"
            [ngClass]="
                answer.correct > 0
                    ? 'correct'
                    : answer.correct === 0
                    ? 'incorrect'
                    : isMenuActive(answer.teamName)
                    ? 'menu'
                    : ''
            ">
            <mat-card-header>
                <button
                    mat-mini-fab
                    mat-card-avatar
                    [matBadge]="
                        answer.points + answer.bonusSpeed + answer.bonusWrongAnswers + answer.bonus
                    "
                    [matBadgeHidden]="
                        answer.points +
                            answer.bonusSpeed +
                            answer.bonusWrongAnswers +
                            answer.bonus ===
                        0
                    "
                    matBadgeOverlap="true"
                    matBadgePosition="before">
                    {{ this.getTeamScore(answer.teamName) }}
                </button>
                <mat-card-title>
                    <p>{{ answer.teamName }}</p>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-divider></mat-divider>
                <p>
                    {{ answer.answer
                    }}<span *ngIf="questions[questionID - 1].type === 'Tips'">
                        ({{ answer.pointsBet }})</span
                    >
                </p>
                <mat-divider *ngIf="answer.answer"></mat-divider>
            </mat-card-content>

            <mat-card-actions>
                <button
                    mat-mini-fab
                    color="accent"
                    aria-label="Valid answer"
                    (click)="onValidAnswer(i, 1)"
                    [matBadge]="answer.points"
                    [matBadgeHidden]="answer.points === 0"
                    matBadgeOverlap="true"
                    matBadgePosition="after">
                    <mat-icon>check_circle</mat-icon>
                </button>
                <button
                    mat-mini-fab
                    color="warn"
                    aria-label="Incorrect answer"
                    (click)="onValidAnswer(i, 0)"
                    [matBadge]="answer.bonusWrongAnswers"
                    [matBadgeHidden]="answer.bonusWrongAnswers === 0"
                    matBadgeOverlap="true"
                    matBadgePosition="after">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button
                    mat-mini-fab
                    color="primary"
                    aria-label="Reset answer"
                    (click)="onValidAnswer(i, -1)">
                    <mat-icon>autorenew</mat-icon>
                </button>

                <button mat-mini-fab color="accent" aria-label="Bonus+" (click)="onBonus(i, 1)">
                    <mat-icon
                        [matBadge]="answer.bonus"
                        [matBadgeHidden]="answer.bonus <= 0"
                        matBadgeOverlap="false"
                        >thumb_up</mat-icon
                    >
                </button>
                <button mat-mini-fab color="warn" aria-label="Bonus-" (click)="onBonus(i, -1)">
                    <mat-icon
                        [matBadge]="answer.bonus"
                        [matBadgeHidden]="answer.bonus >= 0"
                        matBadgeOverlap="false"
                        >thumb_down</mat-icon
                    >
                </button>
                <button
                    mat-mini-fab
                    color="primary"
                    aria-label="Reset answer"
                    (click)="onClear(answer.teamName, answer.questionID)">
                    <mat-icon>refresh</mat-icon>
                </button>

                <button
                    mat-mini-fab
                    color="accent"
                    aria-label="Like"
                    *ngIf="!answer.favorite"
                    (click)="onFavorite(answer.teamName, answer.questionID)">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button
                    mat-mini-fab
                    color="warn"
                    aria-label="Unlike"
                    *ngIf="answer.favorite"
                    (click)="onFavorite(answer.teamName, answer.questionID)">
                    <mat-icon>heart_broken</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
