<!-- <p><mat-slide-toggle [(ngModel)]="showDetails" (change)="onChangeDetailsDisplay()">Show details</mat-slide-toggle></p> -->
<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Stats
            </mat-panel-title>
        </mat-expansion-panel-header>

        <h4>Most answers</h4>
        <div class="Stats">
            <p>
                <mat-icon>check</mat-icon><br>
                {{mostCorrectAnswers()}}
            </p>
            <p>
                <mat-icon>close</mat-icon><br>
                {{mostIncorrectAnswers()}}
            </p>
        </div>

        <mat-divider></mat-divider><br>
        
        <h4>Average</h4>
        <div class="Stats">
            <p>
                <mat-icon>fast_forward</mat-icon><br>
                {{fastestTeamAverage()}}
            </p>
            <p>
                <mat-icon>close</mat-icon><mat-icon>fast_forward</mat-icon><br>
                {{fastestTeamWrongAverage()}}
            </p>
            <p>
                <mat-icon>front_hand</mat-icon><br>
                {{slowestTeamAverage()}}
            </p>
        </div>

        <mat-divider></mat-divider><br>

        <h4>Accumulated</h4>
        <div class="Stats">
            <p>
                <mat-icon>fast_forward</mat-icon><br>
                {{fastestTeamAdded()}}
            </p>
            <p>
                <mat-icon>close</mat-icon><mat-icon>fast_forward</mat-icon><br>
                {{fastestTeamWrongAdded()}}
            </p>
            <p>
                <mat-icon>front_hand</mat-icon><br>
                {{slowestTeamAdded()}}
            </p>
        </div>

        <mat-divider></mat-divider><br>

        <h4>Remontada/Degringolada</h4>
        <div class="Stats">
            <table>
                <tr>
                    <th>Rang</th>
                    <th>Équipe</th>
                    <th class="separator-left">Rd 1 - Rank</th>
                    <th>Rd 2 - Rank</th>
                    <th>Diff - Rank</th>
                    <th class="separator-left">Rd 1 - Score</th>
                    <th>Rd 2 - Score</th>
                    <th>Ratio - Score</th>
                </tr>
            
                <tr *ngFor="let team of remontadaTable(); let i=index">
                    <td>{{i+1}}.</td>
                    <td>{{team.name}}</td>
                    <td class="separator-left">{{team.rd1Rank}}</td>
                    <td>{{team.rd2Rank}}</td>
                    <td>{{team.rd1Rank - team.rd2Rank}}</td>
                    <td class="separator-left">{{team.rd1Score}}</td>
                    <td>{{team.rd2Score - team.rd1Score}}</td>
                    <td>{{(team.rd2Score - team.rd1Score) / team.rd1Score | number: '1.1-1'}}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Classement
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table>
            <tr>
                <th>Rang</th>
                <th>Équipe</th>
                <th>Score</th>
            </tr>
        
            <tr *ngFor="let team of this.teams; let i=index">
                <td>{{getRanks(team.name)}}.</td>
                <td>{{team.name}}</td>
                <td>{{team.score}}</td>
            </tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Detailed scores
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <th rowspan="2">Question</th>
                <th class="separator-left" [attr.colspan]="showDetails ? 6 : 2" *ngFor="let team of detailedScores.get(1)">{{team.team}}</th>
                <th class="separator-left" rowspan="2">Question</th>
            </tr>
            <tr>
                <ng-container *ngFor="let team of detailedScores.get(1)">
                    <th class="separator-left" *ngIf="showDetails"><mat-icon>question_mark</mat-icon></th>
                    <th *ngIf="showDetails"><mat-icon>timeline</mat-icon></th>
                    <th *ngIf="showDetails"><mat-icon>exposure_plus_1</mat-icon></th>
                    <th *ngIf="showDetails"><mat-icon>rule</mat-icon></th>
                    <th colspan="2" class="separator-left"><mat-icon>functions</mat-icon></th>
                </ng-container>
            </tr>
        
            <tr *ngFor="let fullScore of detailedScores | keyvalue">
                <td>{{fullScore.key}}</td>
                <ng-container *ngFor="let score of fullScore.value">
                    <td class="separator-left" [ngClass]="score.isCorrected > 0 ? 'green' : (score.isCorrected === 0 ? 'red' : '')" *ngIf="showDetails">
                        <mat-icon *ngIf="score.isCorrected === -1">question_mark</mat-icon>
                        <mat-icon *ngIf="score.isCorrected === 0">close</mat-icon>
                        <mat-icon *ngIf="score.isCorrected === 1">check</mat-icon>
                    </td>
                    <td [ngClass]="score.points > 0 ? 'green' : (score.points < 0 ? 'red' : '')" *ngIf="showDetails">{{score.points}}</td>
                    <td [ngClass]="score.bonus > 0 ? 'green' : (score.bonus < 0 ? 'red' : '')" *ngIf="showDetails">{{score.bonus}}</td>
                    <td [ngClass]="score.bonusWrongAnswers > 0 ? 'green' : (score.bonusWrongAnswers < 0 ? 'red' : '')" *ngIf="showDetails">{{score.bonusWrongAnswers}}</td>
                    <td class="separator-left">{{score.total}}</td>
                    <td>
                        <mat-icon style="color:red;" *ngIf="score.points + score.bonus + score.bonusWrongAnswers < 0">trending_down</mat-icon>
                        <mat-icon style="color:yellow;" *ngIf="score.points + score.bonus + score.bonusWrongAnswers === 0">trending_flat</mat-icon>
                        <mat-icon style="color:green;" *ngIf="score.points + score.bonus + score.bonusWrongAnswers > 0">trending_up</mat-icon>
                    </td>
                </ng-container>
                <td class="separator-left">{{fullScore.key}}</td>
            </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>
