<div *ngIf="this.questionID === 0" id="WaitRoom">
    <p>Merci de patienter. La grande frite commencera le quiz sous peu.</p>
</div>

<div *ngIf="this.questionID > this.questions.length" id="Endgame">
    <p>Ce Poutine Quiz est terminé ! La Grande Frite vous remercie d'avoir joué et vous dit à bientôt</p>
    <table>
        <tr>
            <th>Pos.</th>
            <th>Équipe</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let team of this.teams; let i=index">
            <td>{{i+1}}.</td>
            <td>{{team.name}}</td>
            <td>{{team.score}}</td>
        </tr>
    </table>
</div>

<div id="TeamLeaderBoard" *ngIf="this.questionID > 0 && this.questionID <= this.questions.length">
    <h3>{{teamName}}: {{this.getScore(teamName)}}<img src="assets/frite.png" alt="Frites"> <span *ngIf="getQuestion(this.questionID - 1).corrected"></span><button class="menu" (click)="onShowScoring()">Classement</button></h3>
    <table *ngIf="this.showScores">
        <tr>
            <th>Rang</th>
            <th>Équipe</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let team of this.teams; let i=index">
            <td>{{i+1}}</td>
            <td>{{team.name}}</td>
            <td>{{team.score}}<img src="assets/frite.png" alt="Frites"><span *ngIf="getQuestion(this.questionID - 1).corrected"></span></td>
        </tr>
    </table>
</div>

<div id="GameBoard">
    <div *ngIf="this.questionID > 0 && this.questionID <= this.questions.length">
        <h3>Question n°{{getQuestion(this.questionID - 1).id}}</h3>
        <!-- Before correction -->
        <div *ngIf="!getQuestion(this.questionID - 1).corrected">
            <div *ngIf="(getQuestion(this.questionID - 1).type === 'Nugget' || getQuestion(this.questionID - 1).type === 'SelOuPoivre' )">
                <button class="Proposition" (click)="onAnswer(getQuestion(this.questionID - 1).proposition1)" *ngIf="getQuestion(this.questionID - 1).proposition1">{{getQuestion(this.questionID - 1).proposition1}}</button>
                <button class="Proposition" (click)="onAnswer(getQuestion(this.questionID - 1).proposition2)" *ngIf="getQuestion(this.questionID - 1).proposition2">{{getQuestion(this.questionID - 1).proposition2}}</button>
                <button class="Proposition" (click)="onAnswer(getQuestion(this.questionID - 1).proposition3)" *ngIf="getQuestion(this.questionID - 1).proposition3">{{getQuestion(this.questionID - 1).proposition3}}</button>
                <button class="Proposition" (click)="onAnswer(getQuestion(this.questionID - 1).proposition4)" *ngIf="getQuestion(this.questionID - 1).proposition4">{{getQuestion(this.questionID - 1).proposition4}}</button>
            </div>
            
            <!-- <input type="text" *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && getQuestion(this.questionID - 1).group === this.group) || getQuestion(this.questionID - 1).type === 'Addition' )" [(ngModel)]="this.answer" (keyup)="onAnswer(this.answer)"><br *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && getQuestion(this.questionID - 1).group === this.group) || getQuestion(this.questionID - 1).type === 'Addition' )"> -->
            <input type="text" *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && getQuestion(this.questionID - 1).group === this.group) || (getQuestion(this.questionID - 1).type === 'Addition' && !getReponse()))" [(ngModel)]="this.answer"><br *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && getQuestion(this.questionID - 1).group === this.group) || (getQuestion(this.questionID - 1).type === 'Addition' && !getReponse()))">
            <button class="Repondre" (click)="onAnswer(this.answer)" *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && getQuestion(this.questionID - 1).group === this.group) || (getQuestion(this.questionID - 1).type === 'Addition' && !getReponse()))">Répondre</button>
        </div>
        <!-- After correction -->
        <div>
            {{this.getAnswer()}}
        </div>
    </div>
</div>