<!-- Before start -->
<div *ngIf="this.questionID === 0" id="WaitRoom">
    <p>Merci de patienter. La grande frite commencera le quiz sous peu.</p>
</div>

<!-- After start -->
<div *ngIf="this.questionID > this.questions.length-1 && this.questions.length > 0" id="Endgame">
    <h2>Classement</h2>
    <p>Ce Poutine Quiz est terminé ! La Grande Frite vous remercie d'avoir joué et vous dit à bientôt</p>
    <table>
        <tr>
            <th>Rang</th>
            <th>Équipe</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let team of this.teams; let i=index">
            <td>{{getRanks(team.name)}}.</td>
            <td>{{team.name}}</td>
            <td>{{team.score}}</td>
        </tr>
    </table>
</div>

<!-- Team score -->
<div *ngIf="this.questionID > 0 && this.questionID <= this.questions.length-1">
    <h2>{{teamName}} (Grp: <span *ngIf="questions[questionID - 1].round === 1">{{group1}}</span><span *ngIf="questions[questionID - 1].round === 2">{{group2}}</span>): {{this.getScore(teamName)}}<img src="assets/frite.png" alt="Frites"> <button class="detail" (click)="onScoreDetailTrigger()">Détails</button></h2>
    <mat-divider></mat-divider>
</div>

<!-- Gameboard -->
<div>
    <div *ngIf="this.questionID > 0 && this.questionID <= this.questions.length-1">
        <h3>Question n°{{getQuestion(this.questionID - 1).id}} - <span [style.color]="timer <= 5 ? 'red' : (timer <= 15 ? 'yellow' : '')">{{timer}} sec</span></h3>
        <!-- Before correction -->
        <div *ngIf="!getQuestion(this.questionID - 1).locked && timer !== 0">
            <div class="Proposition" *ngIf="(getQuestion(this.questionID - 1).type === 'Nugget' || (getQuestion(this.questionID - 1).type === 'SelOuPoivre' && (!getReponse() || !this.lockSpeed)))">
                <button class="Proposition" *ngFor="let proposition of getQuestion(this.questionID - 1).propositionsShort" (click)="onAnswer(proposition)" [ngClass]="answer === proposition ? 'selected' : null">{{proposition}}</button>
            </div>

            <p *ngIf="questions[questionID - 1].type === 'Tips'">
                Points à parier: {{pointsBet}}&nbsp;
                <mat-slider
                    max="5"
                    min="0"
                    step="1"
                    thumbLabel="true"
                    [(ngModel)]="pointsBet"
                    aria-labelledby="Nombre de points que vous souhaitez parier">
                </mat-slider> 
            </p>
                
            <form (ngSubmit)="onAnswer(this.answer)" *ngIf="((getQuestion(this.questionID - 1).type === 'Menu' && isMenu()) || (getQuestion(this.questionID - 1).type === 'Addition' && (!getReponse() || !this.lockSpeed)) || questions[questionID - 1].type === 'Tips')">
                <!-- <input 
                    type="text" 
                    name="reponse"
                    [(ngModel)]="this.answer"
                ><br> -->
                <textarea 
                    type="text" 
                    name="reponse"
                    [(ngModel)]="this.answer"
                >
                </textarea><br>
                <button 
                    type="submit" 
                    class="Repondre"
                >Répondre</button>
            </form>
        </div>
        
        <!-- After correction -->
        <div>
            <p>
                {{this.getAnswer()}} <br>
                <span *ngIf="getQuestion(this.questionID - 1).locked">Pour votre réponse: {{getPoints()[0]}}<img src="assets/frite.png" alt="Frites"><br></span>
                <span *ngIf="getQuestion(this.questionID - 1).locked && getPoints()[1] != 0">Pour les mauvaises réponses des autres: {{getPoints()[1]}}<img src="assets/frite.png" alt="Frites"><br></span>
                <span *ngIf="getQuestion(this.questionID - 1).locked && getPoints()[2] != 0">Et en bonus (ou malus): {{getPoints()[2]}}<img src="assets/frite.png" alt="Frites"></span>
            </p>
        </div>
    </div>
</div>
