#Endgame table {
    min-width: 70%;
    // display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 6vw;
    background-color: #424242;
    border-radius: 4px;
}
@media screen and (min-width: 750px) {
    #Endgame table {
       font-size: 45px;
    }
}

#Endgame table tr {
    // display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    line-height: 8vw;
    padding: 0 24px;
}
@media screen and (min-width: 750px) {
    #Endgame table tr {
        line-height: 60px;
    }
}

#Endgame table tr:last-of-type {
  border-bottom-width: 0px;
}

#Endgame table th{
    flex: 1;
}

#Endgame table td, th{
    flex: 1;
}

h2 img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 8vw;
    height: 8vw;
}
@media screen and (min-width: 750px) {
    h2 img {
        width: 60px;
        height: 60px;
    }
}

img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 5vw;
    height: 5vw;
}
@media screen and (min-width: 750px) {
    img {
        width: 37.5px;
        height: 37.5px;
    }
}

button.detail {
    flex: 1 0 45%;
    background-color: orange; /* Green */
    border: none;
    color: white;
    font-family: 'HooliganJF', Arial, Helvetica, sans-serif;
    font-size: 8vw;
    margin: 5px 5px;
}
@media screen and (min-width: 750px) {
    button.detail {
        font-size: 60px;
    }
}

div.Proposition {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    margin: auto;
}
@media screen and (min-width: 750px) {
    div.Proposition {
        width: 600px;
    }
}

button.Proposition {
    flex: 1 0;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-family: 'HooliganJF', Arial, Helvetica, sans-serif;
    font-size: 6vw;
    margin: 5px 5px;
}
@media screen and (min-width: 750px) {
    button.Proposition {
        font-size: 45px;
    }
}

button.Proposition.selected {
    background-color:chocolate;
}

button.Proposition:active {
    background-color: #3965c4;
}

input {
    max-width: 400px;
    font-family: 'HooliganJF', Arial, Helvetica, sans-serif;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}
@media screen and (min-width: 750px) {
    input {
       font-size: 60px;
    }
}

textarea {
    max-width: 90%;
    width: 90%;
    height: 40vh;
    font-family: 'HooliganJF', Arial, Helvetica, sans-serif;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}
@media screen and (min-width: 750px) {
    input {
       font-size: 60px;
    }
}

button.Repondre {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-family: 'HooliganJF', Arial, Helvetica, sans-serif;
    font-size: 6vw;
    margin: 5px 5px;
    padding: 5px;
    width: 90%;
}
@media screen and (min-width: 750px) {
    button.Repondre {
        font-size: 45px;
    }
}

button.Repondre:active {
    background-color: #3965c4;
}