<button class="menu" (click)="onShowTeams()" *ngIf="this.teams.length !== 0">Teams</button>
<button class="menu" (click)="onShowQuestionSelection()" *ngIf="this.questions.length !== 0">Questions</button>
<button class="menu" (click)="onShowTimestamp()" *ngIf="this.questions.length !== 0">Timestamp</button>
<button class="menu" (click)="onSave()">Save</button><br>

<div id="TeamBoard" *ngIf="showTeams">
    <table>
        <tr *ngFor="let team of teams">
            <td><img src="assets/online.png" alt="Online" *ngIf="team.logged"><img src="assets/offline.png" alt="Offline" *ngIf="!team.logged"></td>
            <td>G{{team.group}} {{team.name}}</td>
            <td>{{team.score}}</td>
            <td>
                <button class="teamAdmin" (click)="onChangeGroup(team.name, team.group - 1)"><img src="assets/minus.png" alt="-"></button>
                <button class="teamAdmin" (click)="onChangeGroup(team.name, team.group + 1)"><img src="assets/plus.png" alt="+"></button> 
            </td>
            <td>
                <button class="teamAdmin" (click)="onDisconnect(team.name)" *ngIf="team.logged"><img src="assets/disconnect.png" alt="Disconnect"></button>
                <button class="teamAdmin" (click)="onEject(team.name)"><img src="assets/eject.png" alt="Eject"></button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="showQuestionSelection && this.questions.length !== 0">
    <p><span *ngFor="let question of this.questions">
        <button *ngIf="question.type === 'Nugget'" (click)="onQuestion(question.id)">
            <img src="assets/nuggets.png" alt="Nugget" class="icon"> {{question.id}}
        </button>
    </span></p>
    <p><span *ngFor="let question of this.questions">
        <button *ngIf="question.type === 'SelOuPoivre'" (click)="onQuestion(question.id)">
            <img src="assets/seloupoivre.png" alt="Sel ou Poivre" class="icon"> {{question.id}}
        </button>
    </span></p>
    <p><span *ngFor="let question of this.questions">
        <button *ngIf="question.type === 'Menu'" (click)="onQuestion(question.id)">
            <img src="assets/menu.png" alt="Menu" class="icon"><span *ngIf="question.group">-{{question.group}}</span> {{question.id}}
        </button>
    </span></p>
    <p><span *ngFor="let question of this.questions">
        <button *ngIf="question.type === 'Addition'" (click)="onQuestion(question.id)">
            <img src="assets/addition.png" alt="Addition" class="icon"> {{question.id}}
        </button>
    </span></p>
    <button (click)="onResetQuiz()" *ngIf="this.questions.length > 0 && !resetCheck"><img src="assets/clear.png" alt="Reset Quiz"></button>
    <button (click)="onYesResetQuiz()" *ngIf="this.questions.length > 0 && resetCheck"><img src="assets/check.png" alt="Confirm Reset Quiz"></button>
    <button (click)="onNoResetQuiz()" *ngIf="this.questions.length > 0 && resetCheck"><img src="assets/cross.png" alt="Reset Reset Quiz"></button>
</div>

<div>
    <div *ngIf="this.questionID > 0 && this.questionID <= this.questions.length">
        <h3><span style="color: red;" *ngIf="this.questionID === this.questions.length">!!!Last!!!</span> Question n°{{questions[this.questionID - 1].id}}</h3>
        <p>{{questions[this.questionID - 1].question}}</p>
        <p *ngIf="questions[this.questionID - 1].corrected === true">{{questions[this.questionID - 1].answer}} pour {{questions[this.questionID - 1].points}} point(s)</p>
    </div>

    <div>
        <button (click)="onPrevious(this.questionID - 1)" *ngIf="this.questions.length !== 0 && this.questionID > 0"><img src="assets/previous.png" alt="Previous"></button>
        <button (click)="onCorrection()" *ngIf="this.questions.length !== 0 && this.questionID > 0 && this.questionID <= this.questions.length"><img src="assets/corrected.png" alt="Corrected" *ngIf="this.questions[this.questionID-1].corrected"><img src="assets/not-corrected.png" alt="Not corrected" *ngIf="!this.questions[this.questionID-1].corrected"></button>
        <button (click)="onNext(this.questionID + 1)" *ngIf="this.questions.length !== 0 && this.questionID <= this.questions.length"><img src="assets/next.png" alt="Next"></button>
        <button (click)="onStartQuiz()" *ngIf="this.questions.length === 0"><img src="assets/start.png" alt="Start Quiz"></button>
    </div>

    <table id="answers">
        <tr *ngFor="let answer of getAnswers(this.questionID); let i=index">
            <td class="space">{{i+1}}. {{answer.teamName}}</td>
            <td class="space">
                {{answer.answer}}
            </td>
            <td class="space"  *ngIf="questions[this.questionID - 1].corrected">
                <img src="assets/check.png" alt="Correct" *ngIf="answer.correct === 1"> <img src="assets/cross.png" alt="Correct" *ngIf="answer.correct === 0">
            </td>
            <td *ngIf="showTimestamp">{{answer.timestamp | date:'HH:mm:ss'}}</td>
            <td>
                <button class="action" *ngIf="questions[this.questionID - 1].corrected === true" (click)="onValidAnswer(answer.teamName, answer.questionID, 1)"><img src="assets/correct.png" alt="Correct"></button> 
                <button class="action" *ngIf="questions[this.questionID - 1].corrected === true" (click)="onValidAnswer(answer.teamName, answer.questionID, 0)"><img src="assets/incorrect.png" alt="Imcorrect"></button> 
                <button class="action" (click)="onBonus(answer.teamName, answer.questionID, 1)"><img src="assets/like.png" alt="Bonus"></button> 
                <button class="action" (click)="onBonus(answer.teamName, answer.questionID, -1)"><img src="assets/dislike.png" alt="Bonus"></button> 
                <button class="action" (click)="onClear(answer.teamName, answer.questionID)"><img src="assets/clear.png" alt="Clear"></button> 
            </td>
        </tr>
    </table>
</div>

