<mat-tab-group mat-align-tabs="center"  mat-stretch-tabs>
    <mat-tab label="Teams" *ngIf="this.teams.length !== 0">
        <app-admin-teams></app-admin-teams>
    </mat-tab>


    <mat-tab label="Questions" *ngIf="this.questions.length !== 0">
        <app-admin-questions></app-admin-questions>
    </mat-tab>


    <mat-tab label="Game">
        <app-admin-game></app-admin-game>
    </mat-tab>

    <mat-tab label="Statistiques">
        <app-admin-stats></app-admin-stats>
    </mat-tab>

    <mat-tab label="Settings">
        <app-admin-settings></app-admin-settings>
    </mat-tab>
</mat-tab-group>