<mat-tab-group mat-align-tabs="center"  mat-stretch-tabs>
    <mat-tab label="Teams" *ngIf="this.teams.length !== 0">
        <table mat-table [dataSource]="teams">
            <ng-container matColumnDef="logged">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let team">
                    <mat-icon *ngIf="team.logged">wifi</mat-icon>
                    <mat-icon *ngIf="!team.logged">wifi_off</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let team"> {{team.name}} </td>
            </ng-container>

            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let team"> {{team.score}} </td>
            </ng-container>

            <ng-container matColumnDef="group1">
                <th mat-header-cell *matHeaderCellDef> Groupe round 1</th>
                <td mat-cell *matCellDef="let team">
                    <button mat-icon-button aria-label="Previous group" (click)="onChangeGroup(1, team.name, team.group1 - 1)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    {{team.group1}}
                    <button mat-icon-button aria-label="Next group" (click)="onChangeGroup(1, team.name, team.group1 + 1)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="group2">
                <th mat-header-cell *matHeaderCellDef> Groupe round 2</th>
                <td mat-cell *matCellDef="let team">
                    <button mat-icon-button aria-label="Previous group" (click)="onChangeGroup(2, team.name, team.group2 - 1)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    {{team.group2}}
                    <button mat-icon-button aria-label="Next group" (click)="onChangeGroup(2, team.name, team.group2 + 1)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="loggedManagement">
                <th mat-header-cell *matHeaderCellDef> Gestion du status </th>
                <td mat-cell *matCellDef="let team">
                    <button mat-icon-button aria-label="Disconnect team" (click)="onDisconnect(team.name)" *ngIf="team.logged">
                        <mat-icon>signal_wifi_statusbar_null</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Delete team" (click)="onEject(team.name)">
                        <mat-icon>signal_wifi_off</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
    </mat-tab>


    <mat-tab label="Questions" *ngIf="this.questions.length !== 0">
        <mat-button-toggle-group name="QuestionType" aria-label="Question type selection" style="font-size:small;" [(ngModel)]="questionType">
            <mat-button-toggle value="Nugget"><img src="assets/nuggets.png" alt="Nugget" class="icon"></mat-button-toggle>
            <mat-button-toggle value="SelOuPoivre"><img src="assets/seloupoivre.png" alt="Nugget" class="icon"></mat-button-toggle>
            <mat-button-toggle value="Menu"><img src="assets/menu.png" alt="Nugget" class="icon"></mat-button-toggle>
            <mat-button-toggle value="Addition"><img src="assets/addition.png" alt="Nugget" class="icon"></mat-button-toggle>
        </mat-button-toggle-group>

        <p>
            <span *ngFor="let question of this.questions; let i = index;">
                <button mat-raised-button (click)="onQuestion(question.id)" [matBadge]="question.group" *ngIf="question.type === questionType && question.round === 1">
                    {{question.id}}
                </button>
            </span>
        </p>
        <p>
            <span *ngFor="let question of this.questions; let i = index;">
                <button mat-raised-button (click)="onQuestion(question.id)" [matBadge]="question.group" *ngIf="question.type === questionType && question.round === 2">
                    {{question.id}}
                </button>
            </span>
        </p>


        <button mat-mini-fab color="primary" aria-label="Reset Quiz" (click)="onResetQuiz()" *ngIf="this.questions.length > 0 && !resetCheck">
            <mat-icon>replay</mat-icon>
        </button>
        <button mat-mini-fab color="accent" aria-label="Confirm Reset quiz" (click)="onYesResetQuiz()" *ngIf="this.questions.length > 0 && resetCheck">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Cancel Reset quiz" (click)="onNoResetQuiz()" *ngIf="this.questions.length > 0 && resetCheck">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-tab>


    <mat-tab label="Game">
        <div id="question">
            <mat-card>
                <mat-card-actions>
                    <button mat-icon-button aria-label="Previous question" (click)="onPrevious(this.questionID - 1)" *ngIf="this.questions.length !== 0 && this.questionID > 0">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <!-- <button mat-icon-button aria-label="Previous step" (click)="onPreviousStep(questions[this.questionID-1].propositionsStep - 1)" *ngIf="this.questions.length !== 0">
                        <mat-icon>arrow_left</mat-icon>
                    </button> -->
                    <button mat-icon-button aria-label="Unlock/Lock question" (click)="onCorrection()" *ngIf="this.questions.length !== 0 && this.questionID > 0 && this.questionID <= this.questions.length">
                        <mat-icon *ngIf="this.questions[this.questionID-1].locked">lock</mat-icon>
                        <mat-icon *ngIf="!this.questions[this.questionID-1].locked">lock_open</mat-icon>
                    </button>
                    <!-- <button mat-icon-button aria-label="Previous step" (click)="onNextStep(questions[this.questionID-1].propositionsStep + 1)" *ngIf="this.questions.length !== 0">
                        <mat-icon>arrow_right</mat-icon>
                    </button> -->
                    <button mat-icon-button aria-label="Next question" (click)="onPrevious(this.questionID + 1)" *ngIf="this.questions.length !== 0 && this.questionID <= this.questions.length">
                        <mat-icon>fast_forward</mat-icon>
                    </button>

                    <button mat-icon-button aria-label="Start quiz" (click)="onStartQuiz()" *ngIf="this.questions.length === 0">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </mat-card-actions>
                <ng-container *ngIf="this.questionID > 0 && this.questionID <= this.questions.length">
                    <mat-card-header>
                        <mat-card-subtitle>Round #{{questions[this.questionID - 1].round}} | {{questions[this.questionID - 1].type}}<span *ngIf="questions[this.questionID - 1].group">-{{questions[this.questionID - 1].group}}</span> | Question n°{{questions[this.questionID - 1].id}}</mat-card-subtitle>
                        <mat-card-title style="white-space: pre-wrap" [matBadge]="questions[this.questionID - 1].points" matBadgeOverlap="false" matBadgePosition="before">
                            <p>{{questions[this.questionID - 1].question}}</p>
                            <p>{{questions[this.questionID - 1].questionComment}}</p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf="questions[this.questionID - 1].locked === true" style="white-space: pre-wrap">
                        <mat-divider></mat-divider>
                        <p>{{questions[this.questionID - 1].answer}}</p>
                        <p>{{questions[this.questionID - 1].answerComment}}</p>
                    </mat-card-content>
                </ng-container>
                <mat-card-footer>
                    <mat-progress-bar
                        color="primary"
                        mode="determinate"
                        [value]="100 * questionID / (questions.length + 1)">
                    </mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    
        <div id="answers">
            <mat-card class="answer-card" *ngFor="let answer of getAnswers(this.questionID); let i=index">
                <mat-card-header>
                    <button mat-mini-fab mat-card-avatar [matBadge]="answer.bonusWrongAnswers" [matBadgeHidden]="answer.bonusWrongAnswers<=0" matBadgeOverlap="true">{{this.getTeamScore(answer.teamName)}}</button>
                    <mat-card-title [matBadge]="getRanks(answer.teamName)" matBadgeOverlap="false" matBadgePosition="after">
                        <mat-icon *ngIf="isMenuActive(answer.teamName)">restaurant_menu</mat-icon> {{answer.teamName}} 
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <p>{{answer.answer}}</p>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                    <ng-container *ngIf="questions[this.questionID - 1].locked === true">
                        <button mat-mini-fab color="accent" aria-label="Valid answer" (click)="onValidAnswer(answer.teamName, answer.questionID, 1)">
                            <mat-icon [matBadge]="answer.points" [matBadgeHidden]="answer.correct != 1" matBadgeOverlap="false">check_circle</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" aria-label="Incorrect answer" (click)="onValidAnswer(answer.teamName, answer.questionID, 0)">
                            <mat-icon [matBadge]="answer.points" [matBadgeHidden]="answer.correct != 0" matBadgeOverlap="false">cancel</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" aria-label="Reset answer" (click)="onValidAnswer(answer.teamName, answer.questionID, -1)">
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    </ng-container>

                    <button mat-mini-fab color="accent" aria-label="Bonus+" (click)="onBonus(answer.teamName, answer.questionID, 1)">
                        <mat-icon [matBadge]="answer.bonus" [matBadgeHidden]="answer.bonus<=0" matBadgeOverlap="false">thumb_up</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" aria-label="Bonus-" (click)="onBonus(answer.teamName, answer.questionID, -1)">
                        <mat-icon [matBadge]="answer.bonus" [matBadgeHidden]="answer.bonus>=0" matBadgeOverlap="false">thumb_down</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" aria-label="Reset answer" (click)="onClear(answer.teamName, answer.questionID)">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Settings">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Data backup options
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-raised-button aria-label="Save data" (click)="onSave()">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button aria-label="Reload data" (click)="onReload()">
                    <mat-icon>download</mat-icon>
                </button>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bonus calculation settings
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p><mat-slide-toggle [(ngModel)]="negativePoints" (change)="onChangeNegPoints()">Negative points ?</mat-slide-toggle></p>
                <p><mat-slide-toggle [(ngModel)]="bonusesWrongAnswers" (change)="onChangeBonusesWrongAnswers()">Bonuses for wrong answers ?</mat-slide-toggle></p>
                <p>Team threshold: {{teamThreshold}}
                    <mat-slider
                        max="100"
                        min="0"
                        step="5"
                        thumbLabel="true"
                        [(ngModel)]="teamThreshold"
                        (change)="onChangeTreshold()" 
                        aria-labelledby="Threshold of team at minimum score (%)">
                    </mat-slider>
                </p>
                <p>Team threshold modifier: {{teamThresholdModifier}}
                    <mat-slider
                        max="3"
                        min="0"
                        step="0.5"
                        thumbLabel="true"
                        [(ngModel)]="teamThresholdModifier"
                        (change)="onChangeTresholdModifier()" 
                        aria-labelledby="Threshold modifier">
                    </mat-slider>
                </p>
                <table class="material">
                    <tr>
                        <th>Position</th>
                        <th>1% Errors</th>
                        <th>{{percentErrorsTiers[0]}}% Errors</th>
                        <th>{{percentErrorsTiers[1]}}% Errors</th>
                        <th>Team percentage (%)</th>
                    </tr>
                    <tr>
                        <td>Last</td>
                        <td>{{bonusWrong[2]}}</td>
                        <td>{{bonusWrong[1]}}</td>
                        <td>{{bonusWrong[0]}}</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>Last-1</td>
                        <td>0</td>
                        <td>{{bonusWrong[2]}}</td>
                        <td>{{bonusWrong[1]}}</td>
                        <td>{{teamThreshold}}</td>
                    </tr>
                    <tr>
                        <td>Last-2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{bonusWrong[2]}}</td>
                        <td>{{teamThreshold * teamThresholdModifier}}</td>
                    </tr>
                </table>

                <p>Team error percentage threshold: 0 -> {{percentErrorsTiers[0]}} -> {{percentErrorsTiers[1]}}
                    <mat-slider
                        max="100"
                        min="0"
                        step="5"
                        thumbLabel="true"
                        [(ngModel)]="percentErrorsTiers[0]"
                        (change)="onChangePercentError()" 
                        aria-labelledby="Threshold of team at minimum score (%)">
                    </mat-slider> 
                    <mat-slider
                        max="100"
                        min="0"
                        step="5"
                        thumbLabel="true"
                        [(ngModel)]="percentErrorsTiers[1]"
                        (change)="onChangePercentError()" 
                        aria-labelledby="Threshold of team at minimum score (%)">
                    </mat-slider>
                </p>
                <p>Max bonus: 
                    <button mat-icon-button aria-label="Previous group" (click)="onChangeBonuses(2, bonusWrong[2]-1)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    {{bonusWrong[2]}}
                    <button mat-icon-button aria-label="Next group" (click)="onChangeBonuses(2, bonusWrong[2]+1)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </p>
                <p>Max bonus-1: 
                    <button mat-icon-button aria-label="Previous group" (click)="onChangeBonuses(1, bonusWrong[1]-1)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    {{bonusWrong[1]}}
                    <button mat-icon-button aria-label="Next group" (click)="onChangeBonuses(1, bonusWrong[1]+1)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </p>
                <p>Max bonus-2: 
                    <button mat-icon-button aria-label="Previous group" (click)="onChangeBonuses(0, bonusWrong[0]-1)">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    {{bonusWrong[0]}}
                    <button mat-icon-button aria-label="Next group" (click)="onChangeBonuses(0, bonusWrong[0]+1)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="menuDistribution.length !== 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Menus attribution
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="menuDistribution">
                    <ng-container matColumnDef="menuNb">
                        <th mat-header-cell *matHeaderCellDef> Menu group </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.menuNb}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="round">
                        <th mat-header-cell *matHeaderCellDef> Round # </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.round}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="teamGroup">
                        <th mat-header-cell *matHeaderCellDef> Team group </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.teamGroup}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="groupManagement">
                        <th mat-header-cell *matHeaderCellDef> Team groups management </th>
                        <td mat-cell *matCellDef="let menu">
                            <button mat-icon-button aria-label="Previous group" (click)="onChangeMenuGroup(menu.menuNb, menu.round, menu.teamGroup - 1)">
                                <mat-icon>do_not_disturb_on</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Next group" (click)="onChangeMenuGroup(menu.menuNb, menu.round, menu.teamGroup + 1)">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay2"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>