<table>
    <tr>
        <th>Status</th>
        <th>Actions</th>
        <th>Équipe</th>
        <th>Score</th>
        <th>Groupe round 1</th>
        <th>Groupe round 2</th>
    </tr>

    <tr *ngFor="let team of teams">
        <td>
            <mat-icon *ngIf="team.logged">wifi</mat-icon>
            <mat-icon *ngIf="!team.logged">wifi_off</mat-icon>
        </td>

        <td>
            <button mat-icon-button aria-label="Disconnect team" (click)="onDisconnect(team.name)" *ngIf="team.logged">
                <mat-icon>signal_wifi_statusbar_null</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete team" (click)="onEject(team.name)">
                <mat-icon>signal_wifi_off</mat-icon>
            </button>
        </td>

        <td>{{team.name}}</td>

        <td>{{team.score}}</td>

        <td>
            <button mat-icon-button aria-label="Previous group" (click)="onChangeGroup(1, team.name, team.group1 - 1)">
                <mat-icon>do_not_disturb_on</mat-icon>
            </button>
            {{team.group1}}
            <button mat-icon-button aria-label="Next group" (click)="onChangeGroup(1, team.name, team.group1 + 1)">
                <mat-icon>add_circle</mat-icon>
            </button>
        </td>

        <td>
            <button mat-icon-button aria-label="Previous group" (click)="onChangeGroup(2, team.name, team.group2 - 1)">
                <mat-icon>do_not_disturb_on</mat-icon>
            </button>
            {{team.group2}}
            <button mat-icon-button aria-label="Next group" (click)="onChangeGroup(2, team.name, team.group2 + 1)">
                <mat-icon>add_circle</mat-icon>
            </button>
        </td>
    </tr>
</table>